*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx

# Signing keys
*.keystore
*.jks
*.pem

# Firebase
google-services.json

# Environment files
.env
.env.*
secrets.properties
